<div>
  <div class="row pb-4">
    <div class="col-md-5">
      <div class="graficas">
        <h5>Elementos de la tubería </h5>
        <app-barras></app-barras>
      </div>
    </div>
    <div class="col-md-5">
      <div class="graficas">
        <h5 class="p-2">(Diámetro / Espesor) vs Distancia de registro </h5>
        <app-areas></app-areas>
      </div>
    </div>
    <div class="col-md-2">
      <div class="botones">
        <button class="boton">Diámetro</button>
        <button class="boton">Espesor</button>
        <button class="boton">Diámetro / Espesor</button>
      </div>

    </div>
  </div>
</div>